<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <header>
        <div class="topBar">
            <a href="javascript:void 0" class="add btn">新增</a>
            <a class="login btn">Github登录</a>
        </div>
    </header>
    <main></main>
    <script src="/javascripts/bundle.js"></script>
</body>

</html>