<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <div class="topBar">
            <button id="add">增加</button>
            <button class="login">Github登录</button>
        </div>
    </header>
    <main></main>
</body>

</html>