* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
html,body {
  height: 100%;
}
body {
  background: url("https://i.loli.net/2017/08/27/59a2b45284497.jpg");
  background-size: cover;
}
button {
  padding: 8px 16px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  box-shadow: 0 3px 25px rgb(223, 244, 151);
  .user-area {
    display: flex;
    align-items: center;
    li {
      margin-right: 16px;
      color: #fff;
    }
    img {
      width: 24px;
      vertical-align: middle;
    }
  }
  .btn {
    padding: 8px 16px;
    border: 1px solid #fff;
    border-radius: 8px;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: all .6s;
    &:hover {
      color: rgb(223, 244, 151);
      border-color: rgb(223, 244, 151);
    }
  }
}

main {
  position:relative;
  margin-top: 16px;
}