.clearfix:after {
  display: block;
  clear: both;
  content: '';
}

.note {
  position: absolute;
  width: 200px;
  margin: 16px 8px;
  padding: 8px;
  border-radius: 5px;
  background-color: rgb(223, 244, 151);
  box-shadow: 0 5px 5px;
  .note-head {
    position: relative;
    top: -20px;
    left: 20px;
    width: 30px;
    height: 45px;
    background: rgba(0,135,0,25);
    cursor: move;
    &:after {
      position: absolute;
      bottom: 0;
      content: '';
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid rgb(223, 244, 151);
    }
    &:before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      top: 0;
      left: 30px;
      border-right: 7px solid transparent;
      border-bottom: 12px solid rgba(0,135,0,85);
    }
  }
  .note-content {
    position: relative;
    padding: 0 16px 16px 16px;
    outline: none;
  }
  .close {
    display: none;
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 8px;
    color: #000;
    cursor: pointer;
  }
  .time {
    text-align: right;
  }
}

.transition {
  transition: all 1s;
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInX {
  backface-visibility: visible !important;
  animation: flipInX 1s;
}